<header class= "masthead">

{{!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> Hey {{first_name}}, you don't belong to any groups yet! Either click on the "Create New Group" button above, or ask a friend to give you their group code and enter it in the "Group Code" box to join their group!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> --}}

<div class= "reg-center"><h1 class= "reg-block">My Groups</h1></div>

<div class= "reg-center"><button class= "btn btn-outline btn-xl btn-trans" data-toggle= "modal" data-target="#createGroupModal" name="createGroup">Create New Group!</button></div> 

<br>
<br>

<div class= "reg-center"><form class="joinGroup-form" action="/users/joinGroup" method="POST">

    <div class="form-group">
        {{!-- <label for="groupCode">Group Code:</label> --}}
        <input type="text" id="groupCode" placeholder="Group Code ie. 1000" name="groupCode">
    </div>

    <button type="submit" class= "btn btn-outline btn-xl btn-trans">Join Group!</button>
</form></div>


{{>groups/groups}}

{{!-- <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#createGroupModal" name="createGroup">Create a New Group!</button> --}}

<br><br>

{{#each myGroups}}
<a href="/users/mygroups/{{this.group_id}}">
    <div class="card text-center">
        <div class="card-header">
            <h1>{{this.group_name}}</h1><p>Group Code: {{this.group_code}}</p>
        </div>
        <div class="card-body">
            <p class="card-text">{{this.group_description}}</p>
        </div>
    </div>
</a>

<br> {{/each}}


<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create a Group!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form data-group_id={{this.group_id}}>
                    <div class="form-group new_group_name">
                        <label for="new_group_name">Group Name:</label>
                        <input type="text" class="form-control" id="new_group_name" name="new_group_name">
                    </div>
                    <div class="form-group new_group_description">
                        <label for="new_group_description">Short Group Description</label>
                        <textarea class="form-control" id="new_group_description" name="new_group_description" rows="3"></textarea>
                    </div>
                    <button type="submit" data-dismiss="modal" class="btn btn-primary createGroup" id="createGroup">Create This Group!</button>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{!-- {{/each}} --}}
</header>
