<header class= "masthead">

{{!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> Hey {{first_name}}, you don't belong to any groups yet! Either click on the "Create New Group" button above, or ask a friend to give you their group code and enter it in the "Group Code" box to join their group!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> --}}

<div class= "reg-center"><h1 class= "reg-block">My Groups</h1></div>

<div class= "reg-center"><button class= "btn btn-outline btn-xl btn-trans">Create New Group!</button></div> 

<br>
<br>

<div class= "reg-center"><form class="joinGroup-form" action="/users/joinGroup" method="POST">

    <div class="form-group">
        {{!-- <label for="groupCode">Group Code:</label> --}}
        <input type="text" id="groupCode" placeholder="Group Code ie. 1000" name="groupCode">
    </div>

    <button type="submit" class= "btn btn-outline btn-xl btn-trans">Join Group!</button>
</form></div>


{{>groups/groups}}
<br> 

{{#each myGroups}}
<div class="card">
    <div class="card-header">
        <h5>{{this.group_name}}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add{{this.group_name}}ActivityModal" name="addActivity">Add an Activity!</button>
        </h5>
    </div>
    <div class="card-body">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        {{this.group_name}}
    </div>
</div>


<br>

<div class="modal fade" id="add{{this.group_name}}ActivityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add an Activity to {{this.group_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form data-group_id={{this.group_id}} >
                    <div class="form-group activity_name">
                        <label for="activity_name">What do you want to do?</label>
                        <input type="text" class="form-control" id="activity_name" name="activity_name">
                    </div>

                    <div class="form-group category">
                        <label for="category">What type of activity will this be?</label>
                        <select class="form-control" id="category" name="category">
                            <option>Movies</option>
                            <option>Concerts</option>
                            <option>Sports</option>
                            <option>Comedy</option>
                            <option>Restaurants</option>
                            <option>Podcasts</option>
                            <option>Books</option>
                            <option>Outdoor Activity</option>
                            <option>Other</option>
                        </select>
                    </div>

                    <div class="form-group activity_location">
                        <label for="activity_location">Where is it happening?</label>
                        <input type="text" class="form-control" id="activity_location" name="activity_location">
                    </div>

                    <div class="form-group activity_date">
                        <label for="activity_date">When is it happening</label>
                        <input type="text" class="form-control" id="activity_date" name="activity_date">
                    </div>

                    <div class="form-group activity_price">
                        <label for="activity_price">How much is this going to cost?</label>
                        <input type="text" class="form-control" id="activity_price" name="activity_price">
                    </div>

                    <div class="form-group notes">
                        <label for="notes">Anything else you would like to add?</label>
                        <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
                    </div>
                    <button type="submit" data-dismiss="modal" class="btn btn-primary addActivity" id="{{this.group_id}}">Add This Activity!</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{{/each}}
</header>
